@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .product_background {
    background-image: url("/image/headset.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}


